* {
    box-sizing: border-box;
  }


.nav-item{
    color:olive;
    font-size: larger;
    letter-spacing: 5px;
}

.nav-link{
    color:olive;
}


p{
    text-align: center;
    padding-top: 4%;
    font-family: 'Staatliches', cursive;
    font-size: 250%;
    letter-spacing: 2px;
    line-height: 200%;
}

ul{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4%;
}


li{
    position:relative;
    list-style: none;
    
    font-weight: 500;
}

#list{
    position:relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
}

#list:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color:whitesmoke;
    border-radius: 1000px;
}

#list:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color:olive;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* skillbar animations */

#list.html:after {
    animation-name: html
}

@keyframes html{
    to{
        width: 98%;
    }
}


#list.css:after {
    animation-name: css
}

@keyframes css{
    to{
        width: 95%;
    }
}

#list.django:after {
    animation-name: django
}

@keyframes django{
    to{
        width: 80%;
    }
}


#list.flask:after {
    animation-name: flask
}

@keyframes flask{
    to{
        width: 80%;
    }
}


#list.angular:after {
    animation-name: angular
}

@keyframes angular{
    to{
        width: 95%;
    }
}


#list.javascript:after {
    animation-name: javascript
}

@keyframes javascript{
    to{
        width: 80%;
    }
}


#list.jquery:after {
    animation-name: jquery
}

@keyframes jquery{
    to{
        width: 80%;
    }
}


#list.python:after {
    animation-name: python
}

@keyframes python{
    to{
        width: 90%;
    }
}


/* Sliding Images */

.carousel-item{
    height: 20%;
    width: 20%;
    margin-left: 40%;
    
}

span{
    font-size:170%;
}

h4{
    font-size: 100%;
    padding-top: 4%;
    line-height: 150%;
}

h5{
    padding-top: 4%;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    line-height: 200%;
}


h6{
    text-align: center;
    line-height: 200%;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    padding-top: 2.5%
}

footer{
    text-align: center;
    padding-bottom: 5%;
    
    background-color: whitesmoke;
}
  
.leftside, .rightside{
    height: 50vh;
    width:100%
}
  

@media screen and (min-width:768px)
{
    .leftside, .rightside{
        height: 50vh;
    }

}    



.leftside{
    background: whitesmoke;
}
  
.rightside{
    background: whitesmoke;
}

.round{
    border-radius: 50%;
    padding:1px;
    border: 3px solid olive;
    background: linear-gradient(60deg, #EFA51A 10%, #ce00 100) ;
}

.card-deck{
    padding-top: 4%;
}

.button {
    animation: glowing 1300ms infinite;
  }
  
  .bnr-icons{
      color:olive;
      font-size: 50px;
  }

  .card-title{
      color:olive
  }

